// Colors
$primary-100: #3c3c3c;
$primary-200: #515151;
$primary-300: #646464;
$primary-400: #8b8b8b;
$primary-500: #7e7e7e;
$primary-800: #f5f5f5;
$primary-850: #f1f1f1;
$primary-900: #ffffff;

$primary-bg: #ffffff;
