@use "../../assets/scss/abstracts/variables" as *;

.blog {
    display: flex;
    column-gap: 2rem;
    padding-block: 5rem;

    &__options {
        width: 60%;
        h1 {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 2rem;
            letter-spacing: -0.07em;
            color: $primary-100;
            border-bottom: 1px solid rgb(241, 241, 241);
            padding-bottom: 1rem;
            // text-transform: uppercase;
        }
    }

    &__categories {
        h2 {
            font-size: 1rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
            color: $primary-100;
        }

        ul {
            list-style: none;

            li {
                margin-bottom: 1rem;
                color: $primary-400;
                font-size: 0.7rem;
                text-transform: uppercase;
            }
        }
    }

    &__posts {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
        row-gap: 5rem;
        // background-color: black;
    }
}
